html {
  position: relative;
  min-height: 100%;
}

header {
  width: 100%;
  border-bottom: solid 1px;
  height: 40px;
  margin: 0
}

header ul {
  margin: 0 auto;
  list-style: none;
}

body {
  text-align: center;
}

table {
  margin: 0 auto;
}

p, form {
  text-align: center;
}

tr {
  border-top: solid 1px;
}
